.farmersGraph {
  background-color: rgba(255,255,255,1.20);
  border-radius: 6px;
  height: 192px;
  width: 95%;  
  margin: auto;
}
.textRow {
  width: 97%;
  height: 95%;
  margin-right: auto;
  margin-left: auto;
}
.textCards{
  display: inline-block;
  background: rgba(255,255,255,0.7);
  border-color: rgba(0,0,0,0.0);
  border-radius: 3px;
  border-width: 0.1px;
  width: 32%;
  height: calc(2rem + 2px);
  line-height: 0px;
  padding: 0px;
  margin-left: 5px;
  margin-bottom: 5px
}
.contentNumber1{
  margin-top: 20px;
  margin-left: 40px;
  color: rgba(0,0,0,0.75);
  text-anchor: center;
  font-size: 1rem;
  font-weight: bold;
}
.contentNumber2{
  margin-top: 20px;
  margin-left: 50px;
  color: #1AB394;/*rgba(116,191,252,1.0);*/
  text-anchor: center;
  font-size: 1rem;
  font-weight: bold;
}
.contentNumber3{
  margin-top: 20px;
  margin-left: 50px;
  color: #e05757;
  text-anchor: center;
  font-size: 1rem;
  font-weight: bold;
}
.content{
  color: rgba(0,0,0,0.75);
  text-anchor: center;
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 3px;
}